*{
    margin: 0;
    padding: 0;
}
a{text-decoration: none}
kbd{
    border: 1px solid goldenrod;
    width: 4em;
    height: 4em;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 3px;
    margin-left: 3px;
    position: relative;
}
kbd>button{
    position: absolute;
    right: 0;
    bottom: 0;
    background: gold;
    border-radius: 4px;
    display: none;
    cursor: pointer;
    border: 1px solid transparent;
}
kbd:hover>button{
    display: inline-block;
}
main{
    text-align: center;
}
#mBody{
    display: inline-block;
}